.cover-image {
  display: block;
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p, li > {
  code {
    background: hsl(221, 16%, 90%);
    padding: 0.2em;
  }
}

@import url("syntax-theme-dark.css") ;

.z-variable, .z-entity.z-name.z-tag {
  color: #d08770;
}
