<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if current_path == '/' %} nav-current{% endif %}" role="presentation"><a
                href="{{config.base_url}}">Home</a></li>
        <li class="scala {% if page and page.taxonomies.tags is containing('scala') %} nav-current {% endif %}" role="presentation"><a
                href="{{config.base_url}}/tag/scala">Scala</a></li>
        <li class="{% if current_path == '/talks/' %} nav-current{% endif %}" role="presentation"><a
                href="{{config.base_url}}/talks">Talks</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{config.base_url}}/feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
